# Introduction to Pandas

In [ ]:
import pandas as pd

import matplotlib.pyplot as plt

## 1. First steps

In [ ]:
names = ["Juan", "Pedro", "Mar√≠a", "Paula", "Diego", "Andrea", "Diana"]
ages = [22, 24, 32, 19, 52, 45, 61]

In [ ]:
persons = list(zip(names, ages))
persons

In [ ]:
# Creating the dataframe
persons_df = pd.DataFrame(data=persons, columns=["Name", "Age"])
persons_df

In [ ]:
# Writing to a CSV
persons_df.to_csv("./data/persons.csv", index=False)

In [ ]:
# Reading from a CSV
persons_df = pd.read_csv("./data/persons.csv")

In [ ]:
# Showing the entire dataframe
persons_df

In [ ]:
# If dataframe has too many rows, you can print only the first records
# You can also use the tail() function to print the last records
persons_df.head()

In [ ]:
# Printing column data types
persons_df.dtypes

In [ ]:
# Sorting by a column
persons_df_sorted = persons_df.sort_values("Age", ascending=False)
persons_df_sorted.head()

In [ ]:
# Getting the greatest age
persons_df["Age"].max()

In [ ]:
# Creating a bar chart for visualizing ages
plt.figure(figsize=(15, 8))
plt.bar(persons_df_sorted["Name"], persons_df_sorted["Age"])

##2. Experimenting with a different dataset

In [ ]:
# Reading from an URL
got_df = pd.read_csv("https://raw.githubusercontent.com/datapreparation-javeriana/python-pandas-tutorial/master/data/got.csv")

In [ ]:
got_df.head()

In [ ]:
# Using a histogram for showing the distribution of a numerical column
plt.figure(figsize=(15, 8))
got_df["age"].hist(bins=30)

In [ ]:
# Getting unique values for a column
got_df["house"].unique()

Q1: How many houses there are?

In [ ]:
# Counting records by house
got_df.groupby(["house"]).agg("count")["name"]

Q2: Which is the house with more characters?

Q3: Which are the 5 houses with more characters?

Q4: Who are the 5 oldest characters?

Q5: How many characters have 100 years?

Q6: How is distribuited characters older than 80 by house?

In [ ]:
# Transforming a column row by row and storing the result into a new column
got_df["name_upper"] = got_df["name"].apply(lambda x: x.upper())

In [ ]:
got_df.head()

Q7: Who are the 5 characters with the largest names?

##3. Loading a third dataset

In [ ]:
# Loading a plain file with a different separator
chipo_df = pd.read_csv("https://raw.githubusercontent.com/datapreparation-javeriana/python-pandas-tutorial/master/data/chipotle.tsv", sep="\t")

In [ ]:
chipo_df.dtypes

Q8: Print first 10 records

Q9: How many records and columns has the dataset?

In [ ]:
chipo_df.columns

Q10: Which is the most ordered item?

Q11: How many items were ordered in total?

Q12: Transforming pice to float

Q13: What is the total revenue reported in the dataset?

Q14: How many orders were placed?

Q15: What is the average quantity by order?

Q16: How many different items were sold?

##4. Working with more datasets

In [ ]:
euro_df = pd.read_csv("https://raw.githubusercontent.com/datapreparation-javeriana/python-pandas-tutorial/master/data/euro.csv")
euro_df.head()

In [ ]:
# Selecting a set of columns
cards_df = euro_df[["Team", "Yellow Cards", "Red Cards"]]
cards_df.head()

In [ ]:
# Sorting by multiple columns
cards_df.sort_values(["Red Cards", "Yellow Cards"], ascending=False)

Q17: Which teams score more than 3?

Q18: Which team names start with 'G'?

Q19: Present only the name and precision for England, Italy and Russia

##5. Aggregations with syntethic data

In [ ]:
regiment_dict = {"regiment": ["Nighthawks", "Nighthawks", "Nighthawks", "Nighthawks", "Dragoons", "Dragoons", "Dragoons", "Dragoons", "Scouts", "Scouts", "Scouts", "Scouts"], 
        "company": ["1st", "1st", "2nd", "2nd", "1st", "1st", "2nd", "2nd","1st", "1st", "2nd", "2nd"], 
        "name": ["Miller", "Jacobson", "Ali", "Milner", "Cooze", "Jacon", "Ryaner", "Sone", "Sloan", "Piger", "Riani", "Ali"], 
        "preTestScore": [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        "postTestScore": [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [ ]:
# Transforming a dictionary to a dataframe
regiment_df = pd.DataFrame(raw_data, columns=regiment_dict.keys())
regiment_df

In [ ]:
# Calculating basic stats for numerical columns
regiment_df.describe()

In [ ]:
# Calculating basic stats by group
regiment_df.groupby("company").describe()

In [ ]:
# Calculating the mean of a column by grouping multiple columns
regiment_df.groupby(["regiment", "company"])["preTestScore"].mean()

In [ ]:
# Pivoting the result
regiment_df.groupby(["regiment", "company"])["preTestScore"].mean().unstack()

##6. Concatenating and merging

In [ ]:
raw_data_1 = {
        "subject_id": ["1", "2", "3", "4", "5"],
        "first_name": ["Alex", "Amy", "Allen", "Alice", "Ayoung"], 
        "last_name": ["Anderson", "Ackerman", "Ali", "Aoni", "Atiches"]}

raw_data_2 = {
        "subject_id": ["4", "5", "6", "7", "8"],
        "first_name": ["Billy", "Brian", "Bran", "Bryce", "Betty"], 
        "last_name": ["Bonder", "Black", "Balwner", "Brice", "Btisan"]}

raw_data_3 = {
        "subject_id": ["1", "2", "3", "4", "5", "7", "8", "9", "10", "11"],
        "test_id": [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

In [ ]:
data1_df = pd.DataFrame(raw_data_1)
data2_df = pd.DataFrame(raw_data_2)

In [ ]:
data1_df

In [ ]:
data2_df

In [ ]:
# Concatenating dataframes
all_data = pd.concat([data1_df, data2_df])
all_data

In [ ]:
# Merging (joining) dataframes
pd.merge(data1_df, data2_df, on="subject_id", how="inner")

In [ ]:
# Changing the type of join
pd.merge(data1_df, data2_df, on="subject_id", how="outer")